# Root directory containing your git repos (colon-separated if multiple)
REPOS_PATH=/Users/you/personal

# Path to the bumblebee threat intel catalog directory
BUMBLEBEE_INTEL_PATH=/Users/you/go/pkg/mod/github.com/perplexityai/bumblebee@v0.1.1/threat_intel
